<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css"> </head>

<body class="bg-primary">
  <div class="py-5 text-white" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/test_lily.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="lead"><i>"I have been using Pingendo since a while. There's no way I can leave it now or never. And many people are doing the same, and I seriously do not understand who isn't."</i>
            <br> </p>
          <p class="lead m-0"><b>Lily Jonhansen - Times</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-3 align-self-center text-center p-4"> <i class="d-block  fa fa-5x fa-font-awesome"></i>
          <h3 class="my-2">Perpustakaan</h3>
          <p class="">Kumpulan informasi yang bersifat ilmu pengetahuan, buku - buku, hiburan, rekreasi, dan ibadah</p>
        </div>
        <div class="col-md-3 align-self-center text-center p-4"> <i class="d-block  fa fa-5x fa-font-awesome"></i>
          <h3 class="my-2">laboratorium</h3>
          <p class="text-center">laboratorium fisika, laboratorium kimia, laboratorium biokimia, laboratorium komputer,&nbsp;</p>
        </div>
        <div class="col-md-3 align-self-center text-center p-4"> <i class="d-block  fa fa-5x fa-font-awesome"></i>
          <h3 class="my-2">Olahraga</h3>
          <p class="">Aktivitas untuk melatih tubuh siswa, guuru dan staff tidak hanya secara jasmani tetapi juga secara rohani</p>
        </div>
        <div class="col-md-3 align-self-center text-center p-4"> <i class="d-block  fa fa-5x fa-font-awesome"></i>
          <h3 class="my-2">Kantin</h3>
          <p class="">Dapat digunakan pengunjung untuk makan, baik makanan yang dibawa sendiri maupun yang dibeli</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">FASILITAS SEKOLAH</h1>
          <p class="lead">Fasilitas yang tersedia di SDN Pakis V Surabaya diantaranya :&nbsp;</p>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Media Sosial</b></h5>
                  <p>Melalui website sekolah, seluruh member dapat berinteraksi secara online.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-venus"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Jaringan Internet</b></h5>
                  <p>Layanan jaringan online yang dapat dinikmati di seluruh wilayah sekolah.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-neuter"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">&nbsp;Perpustakaan</h5>
                  <p>Proses pinjam meminjam buku pelajaran dan ilmu pengetahuan secara online.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-stroke"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">Laboratorium Komputer</h5>
                  <p>Fasilitas pembelajaran serta sarana pelatihan online yang tersedia dalam laboratorium.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-mars-double"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary">&nbsp;e-Learning</h5>
                  <p>Belajar secara online dimanapun dan kapanpun tanpa dibatasi ruang dan waktu.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-genderless"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Sistem Informasi Sekolah</b></h5>
                  <p>Informasi kegiatan pembelajaran, absensi, jadwal belajar serta perkembangan siswa.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center opaque-overlay bg-primary text-white" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Peserta Didik, Guru, dan Staff</h1>
          <p class="">Sekolah kami terdiri dari 1000 siswa, 180 guru, 20 staff TU serta lebih dari 20 sarana pendukung pembelajaran.</p>
        </div>
      </div>
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="my-3">Total Siswa</h2>
          <h1>1000
            <br>
          </h1>
        </div>
        <div class="col-md-3 p-4">
          <h2 class="my-3">Guru</h2>
          <h1>180</h1>
        </div>
        <div class="col-md-3 p-4">
          <h2 class="my-3">Staff TU</h2>
          <h1>18</h1>
        </div>
        <div class="col-md-3 p-4">
          <h2 class="my-3">Sarana</h2>
          <h1>20</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light text-dark">
    <div class="container">
      <div class="row">
        <div class="align-self-center p-5 col-md-6">
          <h1 class="mb-4">Galeri Kegiatan Sekolah</h1>
          <p class="mb-5">Untuk menunjang kretifitas siswa baik akademik maupun non akademik kami melakukan berbagai kegiatan guna meningkatkan kualitas pendidikan siswa.&nbsp;</p>
          <a class="btn btn-lg btn-outline-light" href="#">View the gallery</a>
        </div>
        <div class="col-md-6 p-0">
          <div id="carousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item">
                <img src="https://pingendo.github.io/templates/sections/assets/gallery_restaurant_1.jpg" atl="first slide" class="d-block img-fluid w-100">
                <div class="carousel-caption">
                  <h3>Dining room</h3>
                  <p>Good architecture, better food</p>
                </div>
              </div>
              <div class="carousel-item active">
                <img class="d-block img-fluid w-100" src="https://pingendo.github.io/templates/sections/assets/gallery_restaurant_2.jpg" data-holder-rendered="true">
                <div class="carousel-caption">
                  <h3>Cigar room</h3>
                  <p>Enjoy our fine selection</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid w-100" src="https://pingendo.github.io/templates/sections/assets/gallery_restaurant_3.jpg" data-holder-rendered="true">
                <div class="carousel-caption">
                  <h3>Relax area</h3>
                  <p>Take the time to chill</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-light">SDN PAKIS V</h2>
          <p class="text-white">Sekolah yang menjunjung tinggi tata krama dan nilai - nilai sosial</p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-light">List</h2>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Home</a>
            <br>
            <a href="#" class="text-white">About us</a>
            <br>
            <a href="#" class="text-white">Daftar Siswa</a>
            <br>
            <a href="#" class="text-white">Daftar Guru</a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-light">Contact</h2>
          <p class="text-primary">
            <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+246 - 542 550 5462</a>
          </p>
          <p class="text-primary">
            <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>365 Park Street, NY</a>
          </p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-light">Subscribe</h2>
          <form>
            <fieldset class="form-group text-white"> <label for="exampleInputEmail1">Get our newsletter</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> </fieldset>
            <button type="submit" class="btn btn-outline-light">Submit</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2017 Pingendo - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>